@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}
body{
  background-color: rgb(27, 27, 27);
}
header{
  margin: 0 130px;
  padding: 20px 0 0 0;
  max-width: 90%;
}
/* nav section */


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  list-style: none;
  border: 1px solid #fff;
  border-radius: 30px;
  gap: 30px;
  padding: 13px 3px;

}
nav li a{
 text-decoration: none; 
}
.brand{
  font-size: 2rem;
  color: rgb(230, 83, 60);
}
#home{
  background-color: rgb(230, 83, 60);
  padding: 10px 20px;
  border-radius: 20px;
}

/* banner section0 */


.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  max-width: 50%;
}
.shape{
  font-family: miama;
  font-size: 80px;
}
.banner h1{
  font-size: 4rem;
  font-weight: 800;
  text-align: left;
  line-height: 60px;
}
.banner p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 20px;
}
.join-btn,.download-btn{
  padding: 10px 50px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 20px;
}
.join-btn{
  border: none;
  background: rgb(230, 83, 60);
}
.download-btn{
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(27, 27, 27);
  margin-left: 10px;
}
.banner-img{
  position: relative;
  margin-right: 30px;
  height: 580px;
  box-sizing: border-box;

}

.video-text,.tutorials-text{
  font-size: 11px;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  line-height: 20px;
}

.tutorial p{
  position: absolute;
  left: 230px;
  top: 130px;
  height: 93px;
  font-size: 2rem;
  width: 160px;
  padding: 25px 15px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  text-align: left;
  font-weight: 900;
  line-height: 20px;
  color: white;

}
.video{
  position: absolute;
  right: 240px;
  top: 400px;
  height: 93px;
  width: 163px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  
 

}
.video p{
  font-size: 2rem;
  text-align: left;
  font-weight: 900;
  line-height: 20px;
  color: white;
  

}
.file{
  position: absolute;
  right: 117px;
  top: 32px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #ff5733;
  margin-right: 10px;
  
}

/* habit section */
main>section{
  margin-top: 70px;
}

.habit{
 
  text-align: center;
  max-width: 1044px;
  margin: 70px auto;
}
.habit h1{
  font-size: 2.5rem;
}
.habit p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.habit-card{
  display: flex;
}
.card img{
  border: 1px solid rgba(255, 255, 255, 0.5);; 
   border-radius: 100px;
   margin-bottom: 5px;
}

/* run section */

.run{
  max-width: 1050px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 30px 35px;
}
.run-content{
  width: 50%;
  margin-left: 25px;
}
.run-content h1{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 120%;
  margin-top: 30px;
}
.run-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  letter-spacing: 0.3px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.run-content button{
  padding: 16px 50px 16px 50px;
  border: none;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  cursor: pointer;
  margin-top: 15px;
}
.run img{
  width: 400px;
  height: 280px;
  border-radius: 18px;
  
}

/* team section */

.team{
  text-align: center;
  max-width: 1000px;
  margin: 70px auto;
}
.team h1{
  font-size: 2.5rem;
}
.team p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.team-images{
  border-radius: 18px;
  gap: 25px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 300px);
}
.team-img img{
  width: 300px;
  height: 272px;
  border-radius: 18px;
}
.team-img{
  position: relative;
}
.team-img-text{
  position: absolute;
  top: 210px;
  text-align: left;
  margin-left: 20px;
}

/* calculator section */
.calculator{
  text-align: left;
}
.bmi-content h1{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 120%;
  margin: 10px 384px;
}
.bmi-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 384px;
}
/* bim calculator chat */

.bmi-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #1e1e1e;
}

.bmi-chart{
  padding: 30px;
  border-radius: 12px;
  height: 400px ;
  width: 50%;
}
.bmi-calculator{
  padding: 30px;
  border-radius: 12px;
  height: 400px ;
  width: 50%; 
}
.bmi-chart h2{
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.bmi-calculator h2 {
  font-size: 1.5rem;
}

.bmi-calculator p {
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-block-end: 40px;
}
.bmi-chart table {
  width: 100%;
  border-collapse: collapse;
}

.bmi-chart table th, .bmi-chart table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}
.bmi-chart table td{
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
}


.bmi-calculator form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.bmi-calculator input, .bmi-calculator select {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2e2e2e;
  font-size: 14px;
}
.bmi-calculator select{
  color: rgba(255, 255, 255, 0.5);
}


.bmi-calculator button {
  margin-top: 30px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: #ff5733;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.bmi-calculator button:hover {
  background-color: #ff451a;
}

.bmi-calculator .full-width {
  grid-column: span 2;
}

.bmi-calculator .half-width {
  grid-column: span 1;
}

/* footer section */

.footer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 190px;
 
  
}
.footer-content{
  width: 40%;
}
.footer-content h1{
  color: rgb(230, 83, 60);
  font-size: 3.5rem;
  font-weight: 800;
  margin: 30px 0px;
}
.footer-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0px;
  line-height: 24px;
}
.get-start1{
  width: 20%;
  margin-left: 50px;  
}
.get-start2{
  width: 30%;
  margin-left: 10px;  
}
.get-start1 a,.get-start2 a{
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  margin: 0px 5px;
  font-size: 1rem;
  padding: 5px;
}
.get-start1 h3,.get-start2 h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 39px 0px;
  
}
footer{
  background: rgba(255, 255, 255, 0.1);
  
}
hr{
  width: 72%;
  margin: 40px auto;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.copyright h4{
  text-align: center;
  padding-bottom: 40px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  letter-spacing: 0.3px;
  font-size: 1rem;

}
